.container {
    width: 40%;
}

.textfield {
    min-height: 42px;
    resize: none;
}

.large {
    min-height: 84px;
    resize: none;
}

.work {
    margin-bottom: 36px;
}

.social {
    margin-bottom: 36px;   
}

h5 {
    margin-top: 24px;
}

#cent {
height: 10em;
  display: flex;
  align-items: center;
  justify-content: center
    }